{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <!-- Fixed Section with controls -->
    <div class="controls-fixed text-center">
        <h2 class="section-font mb-0">Book catalog</h2>
        <!-- Functional Toggles for Small Screens -->
        <div class="d-flex mb-3 justify-content-end controls">
                {% include "includes/category_dropdown.html" %}
                {% include "includes/sort_control.html" %}
                {% include "includes/filter_control.html" %}
        </div>
        <hr class="w-50 mb-0">
    </div>

    <!-- Catalog Layout -->
    <div class="container-fluid catalog-wrapper">
        <div class="row">
            <!-- Categories Sidebar (≥lg) -->
             {% include "includes/sidebar.html" %}

            <!-- Books -->
            <div class="product-container col-12 col-lg-9">
                {% if show_carousel %}
                <div class="row mt-1 mb-2">
                    <div class="mb-4">
                        {% include "includes/carousel.html" %}
                    </div>
                </div>
                {% endif %}

                <div class="row mt-1 mb-2">
                    {% include "includes/catalog.html" %}
                </div>

            </div>
        </div>
    </div>

    <script>
    document.querySelectorAll('.dropdown-menu .dropdown-item').forEach(function(btn) {
        btn.addEventListener('click', function(e) {
            e.stopPropagation();
        });
    });
    </script>
    <script>
    document.querySelectorAll('.dropdown-menu .dropdown-item').forEach(function(btn) {
        btn.addEventListener('click', function(e) {
            e.stopPropagation();
        });
    });

    // Activate carousel only after user interacts
    const carousel = document.querySelector('#bookCarousel');
    let started = false;

    ['click', 'touchstart', 'keydown'].forEach(event => {
        document.addEventListener(event, () => {
            if (!started) {
                const bsCarousel = new bootstrap.Carousel(carousel, {
                    interval: 3000,
                    ride: 'carousel'
                });
                started = true;
            }
        }, { once: true });
    });
</script>
{% endblock %}