/* ====================================
   PROFILE APP STYLES
==================================== */

/* -------- Order history table -------- */
.order-history-header {
    background-color: #1B75C1;
    color: white;
}

/* Scrollable container for order history */
.order-history {
    max-height: 416px;
    overflow-y: auto;
}
