{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner_content %}
    <hr>
    <h2 class="logo-font mb-4">{% trans "Set Password" %}</h2>
    <hr>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="d-flex gap-2 mt-3">
          <a class="btn btn-grey border rounded-1 text-uppercase flex-fill cart-action-button" href="{% url 'home' %}">{% trans 'Home' %}</a>
          <button class="btn border rounded-1 text-uppercase flex-fill checkout-button" type="submit" name="action">{% trans 'Set Password' %}</button>
        </div>
    </form>
{% endblock %}