{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}

<hr>
<h2 class="logo-font mb-4">{% trans "Register" %}</h2>
<hr>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">log in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <table style="border-collapse: collapse;">
  <tr>
    <td style="border: none;">
      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
      {% endif %}
    </td>
  </tr>
</table>

  {% endif %}
  <div class="d-flex gap-2 mt-3">
    <a class="btn btn-grey border rounded-1 text-uppercase flex-fill cart-action-button" href="{% url 'home' %}">{% trans 'Home' %}</a>
    <button class="btn border rounded-1 text-uppercase flex-fill checkout-button" type="submit">{% trans "Register" %}</button>
  </div>
</form>

{% endblock %}
