{% load static %}

<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block css %}
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block js %}
      <script src="https://kit.fontawesome.com/2125e79a68.js" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Stripe -->
            <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>
      Fayno Ukrainian Bookstore
      {% block extratitle %}{% endblock %}
    </title>

    <!-- Meta tags for search engines -->
    <meta name="description"
      content="Ukrainian bookstore online in the UK. Books in Ukrainian. Books of Ukrainian publishers. Books about Ukraine.">
    <meta name="keywords" content="Ukrainian books, Ukrainian literature, books in Ukrainian, UK, England, Wales, Scotland, Ireland">

    <!-- Google font embedding -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <!-- Favicon icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  </head>
  <body>
    <header class="container-fluid fixed-top">
      <!-- Layout for xs screens (<576px) -->
      <div class="d-sm-none">
        <div class="row">
          <!-- Logo -->
          <div class="col-6 my-auto py-1 text-left">
            <a href="{% url 'home' %}" class="nav-link main-logo-link">
              <div class="logo-container">
                <div class="logo-ornament" id="logo"></div>
                <div class="logo-text">
                  <div class="logo-title">
                    <h1 class="logo-title">FAYNO</h1>
                  </div>
                  <div class="logo-subtitle">
                    <h2 class="logo-subtitle">Ukrainian Bookstore</h2>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- Account and cart -->
          <div class="col-6 my-auto py-1 text-right justify-content-md-end">
            <ul class="list-inline list-unstyled my-0 justify-content-md-end">
              <!-- Account -->
              <li class="list-inline-item dropdown">
                <a class="text-blue nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div class="d-flex align-items-center justify-content-end">
                    <i class="fas fa-user fa-lg mr-2"></i>
                    {% if not request.user.is_authenticated %}
                      <span class="d-none d-lg-inline">Login</span>
                    {% else %}
                      <span class="d-none d-lg-inline">{{ request.user.username }}</span>
                    {% endif %}
                  </div>
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="user-options">
                  {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                      <a href="{% url 'add_book' %}" class="dropdown-item">Product Management</a>
                    {% endif %}
                    <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                  {% else %}
                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                  {% endif %}
                </div>
              </li>
              <!-- Cart -->
              <li class="list-inline-item justify-content-md-end">
                <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-blue{% endif %} nav-link" href="{% url 'view_cart' %}">
                  <div class="d-flex align-items-center justify-content-end">
                    <i class="fas fa-shopping-bag fa-lg mr-2"></i>
                    <span class="my-0">
                      {% if grand_total %}
                        £{{ grand_total|floatformat:2 }}
                      {% else %}
                        £0.00
                      {% endif %}
                    </span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- Search bar -->
        <div class="row">
          <div class="col-12 my-auto py-1">
            <form method="GET" action="{% url 'books' %}">
              {% csrf_token %}
              <div class="input-group w-100">
                <input class="form-control rounded-1" type="text" name="q" placeholder="Search">
                <div class="input-group-append">
                  <button class="form-control btn border rounded-1" type="submit">
                    <span class="icon"><i class="fas fa-search"></i></span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Layout for md and up (≥576px) -->
      <div id="topnav" class="row d-none d-sm-flex pt-lg-2">
        <!-- Logo -->
        <div class="col-sm-5 my-auto py-1 text-center text-md-left">
          <a href="{% url 'home' %}" class="nav-link main-logo-link">
            <div class="logo-container">
              <div class="logo-ornament" id="logo"></div>
              <div class="logo-text">
                <div class="logo-title">
                  <h1 class="logo-title">FAYNO</h1>
                </div>
                <div class="logo-subtitle">
                  <h2 class="logo-subtitle">Ukrainian Bookstore</h2>
                </div>
              </div>
            </div>
          </a>
        </div>
        <!-- Search + Account + Cart -->
        <div class="col-sm-7 my-auto py-1 d-flex justify-content-end">
          <div class="d-flex align-items-center">
            <!-- Search -->
            <form method="GET" action="{% url 'books' %}" class="mr-3" id="search">
              {% csrf_token %}
              <div class="input-group">
                <input class="form-control rounded-1" type="text" name="q" placeholder="Search">
                <div class="input-group-append">
                  <button class="form-control btn border rounded-1" type="submit">
                    <span class="icon"><i class="fas fa-search"></i></span>
                  </button>
                </div>
              </div>
            </form>
            <!-- Account -->
            <div class="dropdown mr-3">
              <a class="text-blue nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
                <div class="d-flex align-items-center">
                  <i class="text-blue fas fa-user fa-lg mr-2"></i>
                  {% if not request.user.is_authenticated %}
                    <span class="nav-text d-none d-lg-inline">Login</span>
                  {% else %}
                    <span class="nav-text d-none d-lg-inline">{{ request.user.username }}</span>
                  {% endif %}
                </div>
              </a>
              <div class="dropdown-menu border-0" aria-labelledby="user-options">
                {% if request.user.is_authenticated %}
                  {% if request.user.is_superuser %}
                    <a href="% url 'add_book' %" class="dropdown-item nav-text">Product Management</a>
                  {% endif %}
                  <a href="{% url 'profile' %}" class="dropdown-item nav-text">My Profile</a>
                  <a href="{% url 'account_logout' %}" class="dropdown-item nav-text">Logout</a>
                {% else %}
                  <a href="{% url 'account_signup' %}" class="dropdown-item nav-text">Register</a>
                  <a href="{% url 'account_login' %}" class="dropdown-item nav-text">Login</a>
                {% endif %}
              </div>
            </div>
            <!-- Cart -->
            <div>
              <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-blue{% endif %} nav-link" href="{% url 'view_cart' %}">
                <div class="d-flex align-items-center">
                  <i class="fas fa-shopping-bag fa-lg mr-2"></i>
                  <span class="my-0 nav-text">
                    {% if grand_total %}
                      £{{ grand_total|floatformat:2 }}
                    {% else %}
                      £0.00
                    {% endif %}
                  </span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div id="promo-banner" class="row text-center">
        <div class="col bg-blue">
          <h4 class="promo-font my-1">Free delivery on orders over £{{ free_delivery_threshold }}</h4>
        </div>
      </div>
    </header>
    {% if messages %}
      <div class="message-container">
    
      {% for message in messages %}
          {% with message.level as level %}
              {% if level == 40 %}
                  {% include 'includes/toasts/toast_error.html' %}
              {% elif level == 30 %}
                  {% include 'includes/toasts/toast_warning.html' %}
              {% elif level == 25 %}
                  {% include 'includes/toasts/toast_success.html' %}
              {% else %}
                  {% include 'includes/toasts/toast_info.html' %}
              {% endif %}
          {% endwith %}
      {% endfor %}
  </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    <script type="text/javascript">
    $('.toast').toast('show');
    </script>
    {% endblock %}
  </body>
</html>