{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <!-- Fixed Section with controls -->
    <div class="controls-fixed text-center">
        <h2 class="section-font mb-0">Book catalog</h2>
        <!-- Functional Toggles for Small Screens -->
        <div class="d-flex mb-3 justify-content-end controls">
                {% include "includes/category_dropdown.html" %}
                {% include "includes/sort_control.html" %}
                {% include "includes/filter_control.html" %}
        </div>
        <hr class="w-50 mb-0">
    </div>

    <!-- Catalog Layout -->
    <div class="container-fluid catalog-wrapper">
        <div class="row">
            <!-- Categories Sidebar (≥lg) -->
             {% include "includes/sidebar.html" %}

            <!-- Books -->
             {% include "includes/catalog.html" %}

        </div>
    </div>
{% endblock %}

{% block postloadjs %}
<!-- A user stays on the same place of the page -->
    {{ block.super }}
    {% include 'includes/stop_propagation.html' %}

    {% include 'books/includes/quantity_input_script.html' %}
{% endblock %}