.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height:auto;
  width: 100%!;
  padding: 10px 12px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  color: #565656;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #565656;
}

.fieldset-label {
    position: relative;
    right: .5rem;
    color:#4e4e4e;
}

#payment-form .form-control,
#card-element {
    border: 1px solid #000;
}

.form-control {
    font-size: small;
}

#loading-overlay {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255,255,255,0.7);
    z-index: 9999;
    display: none;
    align-items: center;
    justify-content: center;
}

#loading-overlay .spinner-border {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}